@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>不支持此类型设备</title>
</head>
<body>
    <div>

        <h2>暂时不支持此类型设备哦！ 工程师正在努力实现</h2>

    </div>
</body>
</html>
